@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body {
    background: #5c195e;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.header a::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #5c195e;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;

}

.logo {
    position: relative;
    font-size: 25px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #5c195e;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;

}

.navbar a {
    font-size: 18px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 400;
    margin-left: 35px;
}

.navbar a:hover {
    color: #1c121c;
}

.home {
    height: 100vh;
    background: url(12.png) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;

}   

.home-content h1 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #5c195e;
    animation: showRight 1s ease forwards;
    animation-delay: .1s;
}

.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: aqua;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #5c195e;
    animation: showRight 1s ease forwards;
    animation-delay: .3s;
}


.home-content p {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0 40px;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #5c195e;
    animation: showRight 1s ease forwards;
    animation-delay: .6s;
}


.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #5c195e;
    animation: showRight 1s ease forwards;
    animation-delay: .9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #8f3a92;
    border: 2px solid #8f3a92;
    border-radius: 8px;
    font-size: 19px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #8f3a92;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color:#8f3a92;
}

.btn-box a:nth-child(2):hover {
    color: #1c121c;
}

.btn-box a:nth-child(2)::before{
    background: #8f3a92;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #5c195e;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}
.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #5c195e;
    animation: showRight 1s ease forwards;
    animation-delay: 1.2s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #8f3a92;
    border-radius: 50%;
    font-size: 20px;
    color: #8f3a92;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: #1c121c;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #8f3a92;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 500px;
    height: 55%;
    background: transparent;
    transition: 3s;
}

.home-imgHover:hover {
    background: #5c195e;
    opacity: .8;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #5c195e;
    animation: showRight 1s ease forwards;
    animation-delay: 1.5s;
    z-index: 2;
}

/* KEYFRAMES ANIMATION */
@keyframes showRight {
    100% {
        width: 0%;
    }
}
